.sort-header {
    display: flex;
    justify-content: space-between;

    span button {
        padding-left: 2px;
    }

    
}
.customize-table {
    width: inherit;
    overflow-x: auto;
}

.pagination {
    justify-content: center;
}